<ion-header [translucent]="true">

  <ion-toolbar class="ion-text-center" color="primary">
    <ion-back-button defaultHref="tabs"></ion-back-button>
      <ion-title>Desafio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>    
    <ion-card-header>
      <div class="card">
        <div class="header">
          <h2 class="username">Juninho</h2>
        </div>
      </div>
    </ion-card-header>

    <ion-card-content>
      <img src="../../assets/img/flip.jpg"  alt="">
        <h2>kick flip nas 4 base, desafio lançado!</h2> 
    </ion-card-content>
  </ion-card>

  <ion-toolbar>
    <ion-button fill="clear" size="default" class="bt-perfil">Participar </ion-button>
  </ion-toolbar>

</ion-content>


    
    
