<ion-header [translucent]="true">

  <ion-toolbar class="ion-text-center" color="primary">
    <ion-title>Home</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content fullscreen>

  <ion-card>
    <img src="../../assets/img/flip.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Flip (Kickflip)</ion-card-subtitle>
      <ion-card-title>Wagner Nunes (Zorba), BRA</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Manobra: Flip. Flip ou kickflip é uma manobra simples de dificuldade nível baixo. O skate gira abaixo dos pés e é executado com o pé da frente impulsionando para frente e para fora.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/img/flip.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Flip (Kickflip)</ion-card-subtitle>
      <ion-card-title>Wagner Nunes (Zorba), BRA</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Manobra: Flip. Flip ou kickflip é uma manobra simples de dificuldade nível baixo. O skate gira abaixo dos pés e é executado com o pé da frente impulsionando para frente e para fora.
    </ion-card-content>
  </ion-card>
</ion-content>
